{% extends 'music/base.html' %}

{% block content %}
    <br><br><br>

    <div class="container">
      {% if playlist %}
        <h2>{{ playlist.name }}</h2>
        <br>
      {% endif %}
      <table class="table table-hover">
        <thead>
          <th>Music Name</th>
          <th>Artist</th>
        </thead>
        <tbody>
          {% if playlist %}
            {% for music in playlist.musics.all %}
              <tr onclick="playMusic('{{music.file.url}}', '{{ music.formatted_name }}', '{{ music.artist }}')" class="music-row">
                <td><p class="listing-music-name">{{ music.name }}</p></td>
                <td><p>{{ music.artist }}</p></td>
              </tr>
            {% endfor %}
          {% else %}
            {% for music in musics %}
              <tr onclick="playMusic('{{music.file.url}}', '{{ music.formatted_name }}', '{{ music.artist }}')" class="music-row">
                <td><p class="listing-music-name">{{ music.name }}</p></td>
                <td><p>{{ music.artist }}</p></td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

{% endblock content %}
