<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Music App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <br>
    <div class="container">
      <div class="jumbotron">
        <ul>
        {% for music in musics %}
          <li>
            <p>{{ music }} <button type="button" name="button" class="btn btn-link" onclick="playMusic('media/{{music.file}}', '{{ music.formatted_name }}')">Play</button></p>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>

    <div class="fixed-bottom container jumbotron">
      <h4 id="musicPlayed"></h4>
      <br>
      <audio id="musicPlayer" controls="controls" style="width: 100%; height: 50px;" autoplay><source id="musicPlayerSource" type="audio/mp3"/></audio>
    </div>
  </body>

  <script type="text/javascript">
    function playMusic(path, name) {
      var playerSource = document.getElementById("musicPlayerSource");
      var musicName = document.getElementById("musicPlayed");
      var musicPlayer = document.getElementById("musicPlayer");

      musicPlayer.pause();

      musicName.innerHTML = name;
      playerSource.setAttribute("src", path);
      musicPlayer.load();
      musicPlayer.play();
    }
  </script>
</html>
