{% extends 'music/base.html' %}

{% block content %}
    <br><br><br>

    <div class="container music-presentation">
      {% if playlist %}
        <h2>{{ playlist.name }}</h2>
      {% else %}
        <h2>Hello, {{ user.username }}</h2>
        <br>
        <h4>See the latests musics uploaded</h4>
      {% endif %}
      <hr>
      <div class="music-listing">
        {% if playlist %}
          {% for music in playlist.musics.all %}
            <div onclick="playMusic('{{music.file.url}}', '{{ music.formatted_name }}', '{{ music.artist }}')" class="music-row">
              <h3 class="listing-music-name">{{ music.name }}</h3>
              <p> <em>{{ music.artist }}</em> </p>
            </div>
          {% endfor %}
        {% else %}
          {% for music in musics %}
            <div onclick="playMusic('{{music.file.url}}', '{{ music.formatted_name }}', '{{ music.artist }}')" class="music-row">
              <h3 class="listing-music-name">{{ music.name }}</h3>
              <p> <em>{{ music.artist }}</em> </p>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

{% endblock content %}
